{% extends "shop/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}
/Shop basket
{% endblock %}
{% block color %}black{% endblock %}
{% block color2 %}color:#218838;{% endblock %}
{% block color3 %}black{% endblock %}
{% block color4 %}black{% endblock %}
{% block ccsjava %} <link rel="stylesheet" href="{% static 'main/css/sales.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/jsPart.css' %}">{% endblock %}
{% block content %}

<div class="container mt-3" style="">
    <h1>Shop basket</h1>

      <div class="row ">
        <div class="col justify-content-between">
        <table class="cart1  ">
           <thead >
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Update</th>
                <th scope="col" >Delete</th>
                <th scope="col" >Count</th>
                <th scope="col" >Price </th>
                <th scope="col" >Total price</th>
              </tr>
           </thead>
          <tbody class="text-center">
            {% for item in cart %}
            {% with product=item.product %}
            <tr >
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" width="400" height="400">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input class = "btn btn-success" type="submit" value="Update">
                {% csrf_token %}
              </form>
              </td>
              <td>
               <a href="{% url 'cart:cart_remove' product.id %}" style="color:black;"> <button class = "btn btn-danger" >Delete</button></a>
                </td>
               <td>
                {{ item.quantity }}
              </td>
              <td class="num">{{ item.price }} ₸</td>
              <td class="num">{{ item.total_price }} ₸</td>
            </tr>
            <line style="background-color: #e3e3e3; width=100%; height:1px;"></line>
            {% endwith %}
            {% endfor %}
            </tbody>
          <tfoot>
            <tr class="total">
              <td colspan="4"></td>
              <td class="num">All: {{ cart.get_total_price }} ₸</td>
            </tr>
          </tfoot>
        </table>
        </div>
    </div>
    <div class="col-md-5 mt-3">
      <p class="text-left d-flex">
        <button class = "btn-success btn-sx"><a href="{% url 'shop:product_list' %}" style = "color:black; text-decoration:none;">To the shop</a></button>
      </p>
    </div>
</div>
{% endblock %}