.form{
	padding-top: 150px;
	max-width: 450px;
	margin:0 auto;
	border-radius: 10%;

}
.col{
	background-color: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.125);
}
.p3{
	color: white;
	font-family: orbitron;
	font-size: 20px;
	line-height: 12px;
	text-align: center;
}
.body{
	border: 1px solid rgba(0,0,0,.125);
}
.btn{
	font-family: orbitron;
   border-radius: .25rem;
	border: 1px solid #1177d1;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    background-color: #1177d1;
}

body {
  background-size: 100%;
}
.body label{
	font-family: orbitron;
	color: white;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,.close:focus {
  cursor: pointer;
}
.form a{
	text-decoration: none;
	color: white;
}