{% extends 'shop/layout.html' %}
{% load static %}
{% block name %} Sales{% endblock %}
{% block title %}
/ sales
{% endblock %}
{% block ccsjava %}
   <link rel="stylesheet" href="{% static 'main/css/sales.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/jsPart.css' %}">
{% endblock %}
{% block header %}
<h2 class="text-left text-body">Mens clothing</h2>
<h1 class="text-center text-body">top-offers</h1>
{% endblock %}
{% block content %}
<div class="row" id="spring_s">
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-1.jpg' %}" />
                            <span class="percent text-center">-25%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"> <s class="text-body mr-2">9 900 ₸</s> 7 425 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Sports trousers/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-2.jpg' %}" />
                           <span class="percent text-center">-16%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">15 900 ₸</s>13 356 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Jacket/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-3.jpg' %}" />
                            <span class="percent text-center">-10%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2"></s><s class="text-body mr-2">7 900 ₸</s> 7 100 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Shirt/spring-summer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="row" id="spring_s">
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-4.jpg' %}" />
                            <span class="percent text-center">-25%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">5 600 ₸</s> 4 200 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Thermal underwear/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-5.jpg' %}" />
                            <span class="percent text-center">-40%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">16 000 ₸</s> 9 600 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Jacket/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-6.jpg' %}" />
                            <span class="percent text-center">-20%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">13 000 ₸</s>10 400 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Underpants/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="row" id="spring_s">
                <div class="col-md-4">
                     <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-7.jpg' %}" />
                            <span class="percent text-center">-10%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">13 500 ₸</s>12 150 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Blazer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                     <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-8.jpg' %}" />
                            <span class="percent text-center">-15%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">44 200 ₸</s>37 570 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Long Sleeve Shirt/fall-winter</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-9.jpg' %}" />
                            <span class="percent text-center">-65%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">36 500 ₸</s>12 775 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Sports trousers/spring-summer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="spring_s">
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-10.jpg' %}" />
                            <span class="percent text-center">-50%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">11 000 ₸</s>5 500 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Blazer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-11.jpg' %}" />
                            <span class="percent text-center">-20%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">12 000 ₸</s>9 600 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">Blazer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                     <div class="shop card rounded">
                        <div class="shop card-image">
                            <img class="img-fluid" src="{% static 'main/img/sh-12.jpg' %}" />
                            <span class="percent text-center">-10%</span>
                        </div>
                        <div class="shop card-body text-left">
                            <div class="sh-price m-auto">
                                <span class="price"><s class="text-body mr-2">3 650 ₸</s> 3 285 ₸</span>
                            </div>
                            <div class="sh-brand mt-2">
                                <span class="brandName">Camel Rider Club</span>
                            </div>
                            <div class="sh-type m-auto">
                                <span class="tsh">sportswear/spring-summer</span>
                            </div>
                            <div class="sh-but mt-2">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <h1 class="text-center">Contacts Information</h1>
    <div class="contacts d-flex justify-content-center align-items-center mt-5">
        <div class="info">
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <p class="mt-3">Call: 877798255223</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p class="mt-3">Email: crc@mail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p class="mt-3">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <p class="mt-3">Address: Manas 8st,Zhandosov street,Almaty c, Kazakhstan</p>
                </div>
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <div id="id02" class="modal2">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    <h1 class="text-center">About us</h1>
        <div class="about_us d-flex flex-column">
        <div class="about_us_cont1 text-center">
            <h4>Huge selection</h4>
            <p>Internet-shop CamelRiderClub.kz - the largest in Kazakhstan catalog of fashionable men's clothes, shoes, accessories, perfumes and cosmetics, as well as sports goods.</p>
            <p>Here you can pick up a basic men's closet for every day and decorate it with spectacular designer accessories.</p>
        </div>
        <div class="about_us_cont1 text-center">
            <h4>Delivery with trying on</h4>
            <p>All the goods from the catalog of CamelRiderClub.kz you can try on before buying. Courier brings desirable models and sizes for choice, the buyer can pay for the goods after trying them on.</p>
        </div>
        <div class="about_us_cont1 text-center">
            <h4>Payment and return</h4>
            <p>All the goods from the catalog CamelRiderClub.kz can be ordered without pre-payment. Upon delivery of the goods courier pay by credit card through mobile terminal   or take cash from the buyer.</p>
        </div>
        <div class="photo d-flex justify-content-center align-items-center">
            <img src="{% static 'main/img/bck2.jpg' %}" alt="">
			<img src="{% static 'main/img/bck3.jpg' %}" alt="">
			<img src="{% static 'main/img/team.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}
