{% extends 'shop/layout.html' %}
{% load static %}
{% block name %} Store Branches {% endblock %}
{% block title %}
/ stores in kz
{% endblock %}
{% block ccsjava %}
    <link rel="stylesheet" href="{% static 'main/css/storesinkz.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/jsPart.css' %}">
{% endblock %}
{% block content %}
<h1 class="text-center text-body">Our bracnhes in Kazakhstan</h1>
<div class="row" id="spring_s">
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br1.jpg' %}" onclick="document.getElementById('id03').style.display='block'" style="width:auto;"/>
                            <span class="percent text-center m-1">Almaty</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br2.jpg' %}" onclick="document.getElementById('id04').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Astana</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br3.jpg' %}" onclick="document.getElementById('id05').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Shymkent</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br4.jpg' %}" onclick="document.getElementById('id06').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Karaganda</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row" id="spring_s">
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br5.jpg' %}" onclick="document.getElementById('id07').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Semei</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br6.jpg' %}" onclick="document.getElementById('id08').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Aktobe</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br5.jpg' %}" onclick="document.getElementById('id09').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Atyrau</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/img/br8.jpg' %}" onclick="document.getElementById('id10').style.display='block'" style="width:auto;" />
                            <span class="percent text-center m-1">Taraz</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div id="id03" class="modal">
    <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Almaty</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 22</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Almaty@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Manas 8st,Zhandosov street,Almaty c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br1.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="540" height="540" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id04" class="modal">
    <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Astana</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 23</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Astana@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Abyla 9st,Zhandosov street,Astana c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br2.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id05" class="modal">
    <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Shymkent</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 24</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Shymkent@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Abai 8st,Satbaev street,Shymkent c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br3.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id06" class="modal">
    <span onclick="document.getElementById('id06').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Karaganda</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 25</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Karaganda@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Jeltoqsan 8st,Zhandosov street,Karaganda c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br4.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id07" class="modal">
    <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Semei</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 26</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Semei@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Abi 8st,Zhandosov street,Semei c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br5.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id08" class="modal">
    <span onclick="document.getElementById('id08').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Aktobe</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 27</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Aktobe@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Manas 8st,Zhandosov street,Aktobe c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br6.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id09" class="modal">
    <span onclick="document.getElementById('id09').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Atyrau</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 28</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Atyrau@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Manas 8st,Zhandosov street,Atyrau c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br5.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    	<div id="id10" class="modal">
    <span onclick="document.getElementById('id10').style.display='none'" class="close" title="Close Modal">&times;</span>
    	    <div class="contacts d-flex justify-content-center align-items-center">
        	<div class="info ml-3">
        		<h3 class="text-body">Camel Rider Club Taraz</h3>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-mobile text-body" aria-hidden="true"></i>
                    <p class="mt-3  text-body">Call: +7 (777) 982 55 29</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-envelope-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Email: Taraz@gmail.com</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-clock-o text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Timing: Without Holiday</p>
                </div>
                <div class="info_1 d-flex align-items-center">
                    <i class="fa fa-location-arrow text-body" aria-hidden="true"></i>
                    <p class="mt-3 text-body">Address: Manas 8st,Zhandosov street,Taraz c, Kazakhstan</p>
                </div>
         </div>
         <div class="branchPh">
         	<img src="{% static 'main/img/br8.jpg' %}" alt="" width="560" height="560">
         </div>
            <div class="geo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11627.105809385639!2d76.9097448!3d43.2351464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588566180575!5m2!1sru!2skz" width="550" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}